html {

    scroll-behavior: smooth;

}

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    background: #000;
	color: #fff;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
    
}

::selection {
    color: #fff;
    background: #3390ff;
  }

.background {

    filter: blur(0) brightness(0.25);
    position: fixed;
    top:0;
    left:0;
    width:100%;     
    height: auto;
    animation: animatebackground 5s

}

@media (min-aspect-ratio: 16/9) {

    .background {
        width:100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {

    .background { 
        width:auto;
        height: 100%;    
    }
}

.container {

	width: 90%;
	max-width: 500px;
	margin: 30px auto 30px auto;
	display: flex;
	flex-direction: column;
	text-align: center;
    position: relative;

}

.circle-shape {

	width: 150px;
	height: 150px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	margin: auto;

}

.profile-pic {

	height: 100%;
	width: 100%;

}

.username {

    color: #fff;
    border-radius: 36px;
    font-weight: 400;
    margin-top: 20px;
    
    
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;

}
  
li a{

    box-sizing: border-box;
    display: block;
    color: #fff;
    padding:22px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 700;
    transition:all 300ms;
    background: rgba(255, 255, 255, 0.1);
    margin: 20px auto auto auto;
    user-select: none;

}
  
li a:hover{

    background: #f0e800;
    color: #000;
	border-color: #f0e800;
    text-decoration: none;
    cursor: pointer

}

.important {
    
    border: 2px solid #f0e800;
    color: #000;
    background: #f0e800;
    transform: scale(1);
	animation: pulse 0.75s infinite;
    transition:all 300ms;

}

.important:hover {
    
    border: 2px solid #f0e800;
    color: #f0e800;
    background: transparent;
    transform: scale(1);
	animation: pulse 0.75s infinite;

}

a[name="faq"] {
    text-decoration:none;
    color: #f0e800;
    background: transparent;
    font-weight: bold;
}

@keyframes pulse {
	0% {
		transform: scale(0.96);
	}

	50% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.96);
	}
}

summary {

    box-sizing: border-box;
    display: block;
    color: #fff;
    padding:10px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 700;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    margin: 20px auto auto auto;
    width:75%;
    user-select: none;
    transition:all 300ms;

  }
  
summary:hover, summary:focus{

    cursor: pointer;
    background: #f0e800;
    color: #000;
}

p {

    background-color: transparent;
    margin: 20px;
    color: #fff

  }

.p-margin-bottom {

    margin: 20px 0 0 0 !important;

}
.topic {

    box-sizing: border-box;
    display: block;
    color: #fff;
    padding:20px;
    text-decoration: none;
    background-color: transparent;
    margin: 20px auto auto auto;
    font-weight: 700;

}

.message {

    font-size: 30px;
    font-weight: 700;

}

.creator {

    font-size: 16px;
    font-weight: 400;

}

.animate-bottom{

    text-align:center!important;
    position:relative;
    animation: animatebottom 2s
    
}

@keyframes animatebottom{
    
    from{bottom:-300px;opacity:0;}
    to{bottom:0;opacity:1;}
    
}

@keyframes animatebackground{
    
    0% {transform: scale(4);filter: blur(16px) brightness(1);}
    50% {transform: scale(2);filter: blur(8px) brightness(0.);}
    100% {transform: scale(1);filter: blur(0) brightness(0.25);}
    
}

.product{

    width: 100%;
	margin: 40px auto auto auto;
	display: flex;
	flex-direction: row;
	text-align: center;
    position: relative;

}

.product-show {

	width: 50%;
	position: relative;
	overflow: hidden;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 35px;

}

.product-right {

    margin-right:auto;

}

.product-img {

	height: 100%;
	width: 100%;

}

.price {

    position: relative;
    background-color: #f0e800;
    color:#000;
    padding: 15px;
    font-weight: 800;

}

.input-ordertracking {

	border:0;
	outline: 0;
	text-align: center;
	background-color: transparent;
	color:#fff;
	width:100%;
    font-size: 20px

}

.select-ordertracking:hover {

    background: rgba(255, 255, 255, 0.1);

}

.button-ordertracking {

    border: 2px solid #f0e800;
    color: #000;
    background: #f0e800;

}

.button-ordertracking:hover {

    border: 2px solid #f0e800;
    color: #f0e800;
    background: transparent;
    cursor: pointer

}

.svg-chat {

    position: fixed;
    right: 5px;
    bottom:5px;
    cursor: pointer;
    z-index: 1;
    transition: all 300ms;
    height: 85px;
    width: 85px;
    animation-name: svg-animation;
    animation-duration: 2s;
    animation-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1)

}

.svg-chat:hover {

    opacity: 0.5;  

}


@keyframes svg-animation {

    from{bottom:-300px;opacity:0;}
    to{bottom:5px;opacity:1;}

}

.cls-1 {

    fill: #25d366;

}

.cls-2 {

    fill: #fff;
    fill-rule: evenodd;

}

#load-initial {

	display:block !important;

}