:root {

	--margin-top-default: 1.5rem;

}

body{
	
  font-family: "Karla", sans serif;
  background: #222;

}

.background {

  filter: blur(0) brightness(0.2);
  position: fixed;
  top:0;
  left:0;
  width:100%;     
  height: auto;
  z-index: -1;
  animation: animatebackground 5s;

}

@media (min-aspect-ratio: 16/9) {

  .background {
      width:100%;
      height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {

  .background { 
      width:auto;
      height: 100%;    
  }
}

.center{

	
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.center-slide{

  display: flex;
  justify-content: center;
  width: 100%;
  color:#fff;
  margin-top:0.5rem;
  
}

.box{

	align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    padding: 1.5rem;
    border-radius: 42px 42px;
    margin:0.5rem 1rem 1rem 1rem;
    background:#fff;

}

.center2{

    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    
}

.center2:target {
  
    display: flex;
    opacity: 1;
  }

  .box2 .close {
    
    top: 15px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    
  }


.flex-container-table {
  display: flex;
  flex-direction: row;
  width:100%;
  text-transform: uppercase;
}

.item-left-table {

  text-align: left;
flex: 90%;
margin-right: 1rem;
  
}

.item-right-table {
  text-align: right;
flex: 10%;

}

  .box2 h2 {
    margin-top: 0;
    color: #333;
    font-weight: 800;
  }

  .box2 .content {

    text-align: left;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

.content > span {

  margin-bottom:1rem

}

.box2{

    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    padding: 2rem;
    background: #fff;
    border-radius: 42px 42px;
    margin:1rem;
    position: relative;
max-height:80%;
}

.svg-table-popup{

    margin-top: 2rem;

}

.ff-button{

	font-family: "Karla", sans serif;
	margin-top:1rem;
	align-items: center;
    display: flex;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: 2px;
    width: 100%;
    line-height: 1.2;
    border-radius: 1000px;
    font-weight: 700;
    height: 4rem;
    min-width: 2rem;
    font-size: 1.2rem;
    background: #000;
    color: #fff;
    border: 2px solid #000;
    transition: all 200ms;

}

.ff-button:hover {

	border: 2px solid #000;
	background: transparent !important;
    color: #000;
    cursor: pointer;

}

.important{

	color: #000;
	background:#f0e800;
    border: 2px solid #f0e800;
    transform: scale(1);
	animation: pulse 0.75s infinite;
    
    }
    
.important:hover{
	
    color: #000;
	border: 2px solid #000;
	background: transparent;

}


.flex-container {
  	display: flex;
  	flex-direction: row;
  	font-size: 30px;
  	text-align: center;
    width:100%;
}

.item-left {

	flex: 50%;
	margin-right: 1rem;
    
}

.item-right {

	flex: 50%;

}

a {
	
    color: #000;
	text-decoration: none;
    font-weight: bold;

}

a:hover {

	text-decoration: underline;

}

.ff-divider {

    border: 0;
    border-color: #000;
    border-style: dashed;
    border-bottom-width: 0.10rem;
    width: 100%;

}


.hr {
	
    font-size: 1rem;
    color: #000;
    margin-top: var(--margin-top-default);
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    width: 100%;
    opacity:0.15;

}

.hr_txt {
	
    margin:0 0.5rem 0 0.5rem;

}

.hr-icon {

	width:60px;
    height:60px; 

}

.ff-text {

    text-align: center;
    font-size: 1.2rem;
    margin-top: var(--margin-top-default);
    
}

.icone {

	align-items: center;
	display: flex;
	text-indent: 0.35rem;

}

@keyframes pulse {
	0% {
		transform: scale(0.96);
	}

	50% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.96);
	}
}

h1 {
  margin-top: 0;
  color: #333;
  font-weight: 800;
}

h2 {
  margin-top: 0;
  color: #333;
  font-weight: 800;
}

.size-table{

    border: 1px solid #dfdfdf;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 1em;
    cursor: pointer;
    letter-spacing: -0.2px;
    font-size: 0.875rem;
    width: 25%;
    margin-left:-1px;
   
}

.size-table:focus, .size-table:hover{

    background: #000;
    color: #fff;
    font-weight: 700;

}

.size-box{

    display: flex;
    flex-direction: row;

}